/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
and then centring the canvas (and anything else)
using the CSS Grid.

Also hides overflow.

**********************************************/

:root {
  /* Maximum width of emoji-input-bubble and emoji-keyboard */
  --keyboard-max-width: 800px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: midnightblue;
  display: grid; /* Set up the grid and justify/align to center */
  justify-content: center;
  /* height: 100vh; */
  /* overflow: hidden; */ /* Hide anything that goes off the window size */

  user-select: none;
}

/* .test-head-canvas {
  z-index: 1001;
} */

canvas {
  /* background: mediumaquamarine; */
  /* z-index: -1; */
  /* z-index: 10002; */

  /* position: fixed; */

  text-align: center;
  /* top: 0px;
  left: 50%; */
  position: relative;

  /* width: 100%; */

  display: flex;
  /* margin: 0 auto; */
  /* justify-content: center; */
  /* align-items: center; */
  /* width: 100%; */
}

#body-wrapper {
  padding: 10px;
}

/* #upper-section {
  width: 100%;
  height: 50vh;

  position: relative;
} */

#upper-section figure img {
  width: 100%;
  height: 100%;
}

#upper-section #npc-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#upper-section #emoji-face {
  font-size: 18rem;

  /* position: fixed; */
  width: 100%;
  /* margin: 0 auto; */
  text-align: center;

  /* display: flex;
  justify-content: center;
  align-items: center; */

  /* left: 25%; */
  top: 0px;
}

#upper-section #npc-response-message {
  font-size: 3rem;
  width: 400px;
  /* background: red; */
}

#keyboard-section {
  z-index: 2;
  height: 30vh;
  /* background: green; */

  position: fixed;
  bottom: 30vh;
  left: 0px;
  width: 100%;
  margin: auto;

  /* display: flex;
  flex-flow: row wrap;
  align-items: flex-end; */
  /* position: fixed;
  bottom: 0px;
  left: 0; */
}

#emoji-input-bubble {
  /* white with transparency */
  background: rgba(255, 255, 255, 0.5);

  border: 3px solid black;

  border-radius: 30px;

  width: 100%;
  height: 150px;
  max-width: var(--keyboard-max-width);

  padding: 20px;

  /* display: flex; */
  text-align: center;

  margin: 10px auto;
  font-size: 2.5rem;

  user-select: none;

  overflow: hidden;
}

/* Keyboard that contains all usable emojis */
#emoji-keyboard {
  background: grey;

  max-width: var(--keyboard-max-width);
  /* width: 100%; */

  font-size: 3rem;
  padding: 20px;
  border-radius: 20px;

  margin: 0px auto;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  user-select: none;

  /* width: 700px; */
  /* justify-content: space-between; */

  /* exit-section position is relative to parent emoji-keyboard */
  position: relative;
}

/* Emoji key container inside the keyboard */
.emoji-key {
  /* padding: 20px; */
  width: 70px;
  height: 70px;
  /* background: yellow; */
  margin: 5px;
}

/* Emoji character inside emoji-key */
.emoji-character {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: auto;

  border-radius: 3px;

  width: 100%;
  height: 100%;
  text-align: center;
}

.emoji-character:hover {
  cursor: pointer;
  background: white;
  /* filter: hue-rotate(80deg); */
}

/* Exit container on top right of keyboard */
#exit-container {
  /* position is relatie to parent emoji-keyboard */
  position: absolute;
  right: -10px;
  bottom: 35px;
}

#exit-button {
  width: 70px;
  height: 70px;
  text-align: center;

  font-size: 3rem;
}

#send-button {
  font-size: 3rem;
}
